.switch-wrapper{
  max-width: 1350px;
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-areas: ". bt sw";
  align-items: center;
  margin: 15px auto 0;

  @media (max-width: 610px) {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: "sw"
                         "bt";
    height: auto;

  }

  @media (max-width: 490px) {
    margin: -12px auto 0;
  }
}

.onoffswitch {
  grid-area: sw;
  position: relative;
  width: 132px;
  justify-self: flex-end;
  margin-right: 5rem;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;

  @media (max-width: 610px) {
    justify-self: center;
    margin-right: 0;
  }

  @media (max-width: 490px) {
    transform: scale(0.8);
    margin-right: 0;
    justify-self: flex-end;
    align-self: flex-end;
    margin-top: 5px;
  }

  @media (max-width: 380px) {
    align-self: flex-start;
  }
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #e0ff34;
  border-radius: 11px;
}

.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.2s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 48px;
  padding: 0;
  line-height: 48px;
  font-size: 15px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "PLAY";
  padding-left: 16px;
  background: linear-gradient(315deg, #d7fdba 0%, #289e34 74%);
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "TRAIN";
  padding-right: 16px;
  background: linear-gradient(315deg, #10af41 0%, #c7f396 74%);
  color: #FFFFFF;
  text-align: right;
}

.onoffswitch-switch {
  display: block; width: 36px; margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 80px;
  border: 2px solid #3bca67;
  border-radius: 11px;
  transition: all 0.2s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.btn-start-game{
  height: 70px;
  width: 200px;
  margin-right: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  line-height: 48px;
  font-size: 20px;
  background: linear-gradient(315deg, #67ef00 0%, #289e34 74%);
  grid-area: bt;
  align-self: center;
  justify-self: center;
  transition: all 0.2s ease-in-out;
  transform: scale(1);

  @media (max-width: 730px) {
    height: 56px;
    width: 160px;
    font-size: 16px;
    margin: 0;
  }

  @media (max-width: 610px) {
     margin: 1rem 0 0;
  }

  &:hover{
    background: linear-gradient(360deg, #67ef00 0%, #289e34 74%);
  }

  &:active{
    transform: scale(0.93);
  }
}

.btn-hidden{
  transform: scale(0)!important;

  @media (max-width: 610px) {
    display: none;
  }
}

.btn-repeat{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: linear-gradient(315deg, #ee8c68 0%, #eb6b9d 74%);
  transition: all 0.1s ease-in-out;
  user-select: none;

  @media (max-width: 730px) {
    width: 60px;
    height: 60px;
  }

  &:hover{
    background-image: linear-gradient(360deg, #ee8c68 0%, #eb6b9d 74%);
  }

  &:active{
    transform: rotate(90deg);
  }
}

.icon-repeat{
  width: 60px;

  @media (max-width: 730px) {
    width: 50px;
  }
}

.blink-effect {
  animation: blink 1s ease-in-out;
  background: linear-gradient(315deg, #ee8c68 0%, #eb6b9d 74%)!important;
}

@keyframes blink {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.25);
  }

  50% {
    transform: scale(0.9);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}


